.container {
    width: 1024px;
    margin: 0 auto;    
}
.menu {
    display: flex;
    justify-content: center;
}
.menu__list {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 25px;
    background: #cccccc;
    height: 50px;
    display: flex;
    justify-content: center;
}
.menu__link {
    text-decoration: none;
    background: #cccccc;
    color: #fff;
    padding: 0px 15px;
    font-family: arial;
    line-height: 50px;
    display: block;
    border-right: 1px solid #24e2a9;
}
.menu__link:hover {
    background: #24e2a9;
}
.datecalc {
    width: 50%;
    text-align: center;
    margin: 24px auto;
}
.datecalc__title, .timer__title { 
    color: #fff;
    padding: 0px 15px;
    font-family: arial;
    line-height: 50px;
    display: block;
    border: 1px solid #24e2a9;
    background: #cccccc;   
}
.datecalc__label, .timer__text{
 font-size: 16px;
    color: #24e2a9;
    display: block;
    margin-bottom: 12px;
}
.datecalc__input, .timer__input, .timer__select {
    margin: 10px auto;
    width: 80%;
    height: 30px;
    align-self: center;
    padding-left: 15px;
    border: 1px solid #24e2a9;
    outline: none;
    background: transparent;
}
.datecalc__btn {
    align-self: flex-end;
    width: 120px;
    padding: 0 12px;
    margin: 12px 0;
    border: none;
    background: #24e2a9;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: 0.3s ease-in;
}
.datecalc__result {
    color: #fff;
    padding: 0px 15px;
    font-family: arial;
    line-height: 50px;
    background: #ccc;
    font-size: 24px;
}
.timer__form {
    width: 50%;
    text-align: center;
    margin: 24px auto;
    border-bottom: 2px solid #f5f5f5;
    background: rgb(253, 253, 253);
    transition: 0.3s ease-in;
}
.timer__set-btn {
    align-self: flex-end;
    width: 120px;
    padding: 0 12px;
    margin: 12px 0;
    border: none;
    background: #24e2a9;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: 0.3s ease-in;
}
.timer__countdown {
    color: #fff;
    padding: 0px 15px;
    font-family: arial;
    line-height: 50px;
    background: #ccc;
    font-size: 24px;

}
.timer__buttons {
}
.timer__stop-btn {
    align-self: flex-end;
    width: 120px;
    padding: 0 12px;
    margin: 12px 0;
    border: none;
    background: #24e2a9;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: 0.3s ease-in;
}
.timer__reset-btn {
    align-self: flex-end;
    width: 120px;
    padding: 0 12px;
    margin: 12px 0;
    border: none;
    background: #24e2a9;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: 0.3s ease-in;
}
